body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(54, 54, 54);
}

.button {
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #1c5ca0;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: #3a7dc4;
    cursor: pointer;
}

.button:active {
    background-color: #234972;
}

a {
    text-decoration: none;
}

/* TOP ELEMENT */

#top {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#top img {
    max-width: 100%;
}


/* NAVBAR */
nav {
    background-color: #1c5ca0;
    text-align: center;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    height: 6rem;
}

nav li {
    list-style-type: none;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar-element {
    margin-top: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding-right: 1rem;
    padding-left: 1rem;
}

nav a:hover {
    background-color: #dedede;
    color: #1c5ca0;
    animation-name: fade;
    animation-duration: .4s;
}

@keyframes fade {
    from {background-color: #1c5ca0; color: white;}
    to {background-color: #dedede; color: #1c5ca0;}
}


/* MAIN */
.main {
    display: flex;
    justify-content: center;
}

.main .container {
    width: 1250px;
    margin-bottom: 3rem;
}

/* ROW */
.row-container {
    display: flex;
}

/* ARTICLE */

.article, .statue {
    height: 400px;
    background-repeat: no-repeat;
    margin-bottom: 6rem;
}

.article {
    width: 70%;
    margin-right: 62px;
    background-position: center;
}

.article-bar {
    background-color: rgba(28,92,160,0.8);
    width: 100%;
    height: 80px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.article .last-article-text {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

/* STATUE */

.statue {
    width: 30%;
    background-size: contain;
    margin-left: 62px;
}


.statue .statue-text {
    color: #292929
}


/* BAR */
.bar {
    margin-top: 2rem;
    background-color: #1c5ca0;
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

/* GRAVEYARD */
.graveyard {
    display: flex;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
}

.graveyard .graveyard-col {
    width: 50%;
}

/* HELP */
.help {
    display: flex;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-between;
}

.help .help-col {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}


/* WORDS */
.words {
    text-align: center;
    width: 100%;
}

.words h1 {
    color: #1c5ca0;
    font-size: 50px;
    margin-bottom: 0px;
}

.words h2 {
    color: #959595;
    font-size: 20px;
    margin-bottom: 2rem;
}

.words p {
    margin: 0;
    color: #545454;
}

/* POST VIEW */
.post-view title {
    color:#1c5ca0;
}

/* LEFT */
.post-left {
    float: left;
    width: 60%;
    margin-right: 5%;
}

.post-left img {
    max-width: 100%;
}

.post-left h1 {
    color: #1c5ca0;
}

.post-left p {
    margin-bottom: 2rem;
}

.post-left ul {
    margin-left: 2rem;
}

/* RIGHT */
.post-right {
    float: right;
    width: 30%;
    margin-top: 2rem;
    margin-left: 5%;
}

.post-right form div {
    margin-bottom: 1rem;
}

.post-right h1 {
    color: #1c5ca0;
    font-size: 28px;
}

.post-right ul {
    padding-left: 2rem;
}

.post-right li {
    margin-bottom: 1.5rem;
}

.post-right a {
    color: rgb(55, 55, 55);
}

.post-right a:hover {
    text-decoration: underline;
}

/* POST CATEGORY */
.post-category h1 {
    color: #1c5ca0;
    font-weight: 400;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(131, 131, 131);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 1rem;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content div  {
   display: flex;
   align-items: center;
   height: 3rem;
}

.dropdown-content div:hover  {
    background-color: #1c5ca0;;
}

.dropdown-content a {
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #1c5ca0;
    color: white;
}

/* ARTICLES */
.articles .article {
    width: 100%;
    max-height: 200px;
}

.articles .article h1 {
    font-size: 30px;
}

.articles .article img {
    max-width: 30%;
    float: left;
    margin-right: 2rem;
}

.articles .article p {
    display: block;
}

.articles a, #konkurs {
    color:#507ba8
}

.articles .article a:hover, #konkurs:hover {
    color:#314c68;
    text-decoration: underline;
}

.center {
    text-align: center;
}

#patroni {
    border-top: 1px solid rgb(54, 54, 54);
    border-bottom: 1px solid rgb(54, 54, 54);
}

#patroni li {
    margin-bottom: 1rem;
}

#patroni li a {
    color: rgb(93, 93, 207);
    font-weight: bold;
}

#patroni li a:hover {
    text-decoration: underline;
}

.button-delete {
    background-color: rgb(235, 44, 44);
}

.button-delete:hover {
    background-color: rgb(232, 74, 74);
}

.button-delete:active {
    background-color: rgb(195, 18, 18);
}

#edit-title {
    color: #1c5ca0;
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: bold;
}

#edit-content-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#edit-content-container textarea {
    color: rgb(54, 54, 54);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

#edit-container a {
    color: #1c5ca0;
    font-weight: bold;
}

#edit-container a:hover {
    text-decoration: underline;
}

#edit-form-container {
    display: inline block;
}

select#category_id {
    font-size: 25px;
    color: rgb(54, 54, 54);
}

#admin-form {
    display: inline;
}

#auth-button-container {
    margin-top: 2rem;
}

.auth-form {
    margin-top: 1rem;
}

#navbar-logout {
    margin-left: 1rem;
}

.panel-container {
    border-top: 1px solid rgb(54, 54, 54);
    margin-bottom: 1rem;
}

#form-inline {
    display: inline;
}

#input-file-container {
    margin-bottom: 2rem;
}

#edit-post-image {
    max-height: 200px;
    margin-bottom: 2rem;
}

#panel-post-img {
    max-width: 350px;
    max-height: 200px;
}
